<% let name="<b> Nidhi </b>"; %>   <%# logic %>
<p><%= name %></p>                 <%# What you need output with out html syntext %>
<p><%- name %></p>                 <%# What you need output with html syntext %>
<%# This is commented line %>
<%% This is EJS %>